*.iml
*/*.iml
.externalNativeBuild
.gradle/
.idea/
build/
local.properties	
*.DS_Store		
*.apk		
*.ap_			
*.dex			
*.class			
bin/		
gen/					
local.properties			
proguard/				
*.log				
captures/		
.idea/